@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body{
    background-color:  black;
    color: white;
}



.left {
  width: 25vw;
  padding: 10px;
}
.right {
  position: relative;
  box-sizing: border-box;
  
  width: 75vw;
  margin: 10px 0;
  
}
.logo img {
    width: 135px;
    margin: -15px -13px -15px;
}
.home {
  
    padding: 10px;
}
.home ul {
}
.home ul li {
  display: flex;
  gap: 15px;
  width: 17px;
  list-style: none;
  padding-top: 10px;
}

.library{
    min-height: 80vh;
    position: relative;
}
.heading{
    display: flex;
    padding: 20px 5px;
    padding-top: 14px;
    font-size: 12px;
    gap: 15px;
}
.heading img {
    width: 24px;
}
.heading h2{
    
}

.songlist ul{
    list-style-type:decimal;
    padding: 0px 42px;
}


.footer{
   position: absolute;
   bottom: 15px;
   display: flex;
    flex-direction: row;
   font-size: 10px;
   gap: 10px;
   
}

.footer a{
    color: rgb(123, 122, 122);
    text-decoration: none;
    
}

.header{
    display: flex;
    justify-content: space-between;
}

.header> *{
    padding: 20px;
}
.nav img{
    width: 15px;
}
.spotify-playlists{
    padding: 10px;
    font-size: 15px;
      
}
.card-container{
    display: flex;
    gap:12px;
    flex-wrap: wrap;
    margin: 20px;
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: none;
}
.card{
    position: relative;
    width: 200px;
    overflow-wrap: break-word;
    white-space: normal;
    min-height: 300px;
    
}
.card h2{
    font-size: 20px;
    width: 170px;
}
.card p{
    width: 160px;
    font-size: small;
    color: rgb(150, 146, 146);

}
.card img{

    width: 100%;
    object-fit: contain;
    border-radius: 4px;
}



.play{
    opacity: 0;
    /* visibility: hidden; */
    /* transition: opacity 0.2s ease-in ;  */
    top: 160px;
    position: absolute;
    
    right: 17px;
    display: flex;
    width: 45px;
    height: auto;
    background-color: green;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 50px;
}
.play img{
    width: 35%;
    
}

.card:hover{
    .play{
        opacity: 1;
        transition: all 0.3s ease-out 0.1s;
        top: 142px;
        /* visibility: visible; */
    }
}

.signupbtn{
    font-weight: bold;
    color: rgb(184, 178, 178);
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.2s ease;
    

}
.signupbtn:hover{
    transform: scale(1.1);
    color:white ;
}

.loginbtn{
    font-weight: bold;
    background-color: white;
    color: black ;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.2s ease;
    

}
.loginbtn:hover{
    transform: scale(1.1);
}

.playbar{
    padding: 12px;
    color: white;
    position: absolute;
    background-color: chocolate;
    box-sizing: border-box;
    width: 100%;
    bottom: 0px;
    
}
.play-controls{

    display: flex;
    justify-content: center;
    gap: 15px;
}

.play-controls img{
    width: 30px;
}
.play-controls img:nth-child(2){
    width: 22px;
}
.play-controls img:nth-child(4){
    width: 22px;
}

.vol-controls{

    width: 30px;
    display: flex;
    justify-content: right;

}

.progressbar{
    
}
